/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  @font-face {
    font-family: 'dalekregular';
    src: url('/assets/css/fonts/dalek.eot'); /* IE9 Compat Modes */
    src: url('/assets/css/fonts/dalek.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/css/fonts/dalek.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/css/fonts/dalek.woff') format('woff'), /* Pretty Modern Browsers */
        url('/assets/css/fonts/dalek.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('/assets/css/fonts/dalek.svg#dalek') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

:root {
    --brown:#67442F;
    --navy:#161C21;
    --tan: #d6b68e;
    }
    
::selection {background:#161C21;color:#fff;}