/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

/* @IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"'); 
@font-face {
    font-family: 'dalekregular';
    src: url('../css/font/dalek.eot'); /* IE9 Compat Modes */
    src: url('../css/font/dalek.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../css/font/dalek.woff2') format('woff2'), /* Super Modern Browsers */
         url('../css/font/dalek.woff') format('woff'), /* Pretty Modern Browsers */
         url('../css/font/dalek.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../css/font/dalek.svg#dalek') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

:root {
    --navy:#161C21;
    --tan: #d6b68e;
    --inknut: 'Inknut Antiqua', Arial;
    --dalek: 'dalekregular', serif;
}  
::selection {background:#161C21;color:#fff;}

/********** BASIC STYLING **********/
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--inknut);
    font-size:16px;
    font-weight:400;
    color:var(--navy);
    margin:0;
    padding:0;
}
h1, h2, h3 {
    font-family: var(--dalek);
    line-height: normal;
}
h1 {
    font-size: 65px;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 30px;
}
p, li {
    margin: 0;
    padding: 10px 0;
    line-height: normal;
}
figcaption {
    line-height: normal;
}
a {
    text-decoration:none;
    color: var(--navy);
    font-weight: bold;
}
a:hover {
    color:var(--tan);
}
img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin:0 auto;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}
.grid {
    display: grid;
    grid-gap: 4rem;
    box-sizing: border-box;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}
.flex {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
.alignCenter {
    text-align: center;
}
.tan-background {
    background-color: var(--tan);
    color: var(--navy);
}
.navy-background {
    background-color: var(--navy);
    color: #fff;
}
.navy-background a {
    color:#fff;
}
#page {
    overflow:hidden;
    clear:both;
}
.padding-bottom {
    padding-bottom:3rem ;
}
hr {
    border: 5px solid var(--tan);
    margin: 2rem 0;
}

/********** Embed Container - Video Responsiveness **********/
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/********** BUTTON **********/ 
.button {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 2em;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 56px;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    overflow: hidden;
    font-weight: 700;
    font-family: var(--dalek);
    background: linear-gradient(#fff 0 0) calc(100% - var(--p,0%)) / var(--p,0%) no-repeat;
    transition: 500ms,background-position 0s;
}
.button:hover {
    --p: 100%;
    color: var(--navy) !important;
}

/********** SITE HEADER **********/
.site-header {
    background-color: var(--navy);
}
.site-header .grid {
    grid-template-columns: 1fr 2fr;
}

/********** STICKY NAV ***********/
.sticky-nav {
    position: fixed;
    background-color: rgb(22, 28, 33, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform .6s ease;
    -moz-transition: -moz-transform .6s ease;
    transition: transform .6s ease;
    box-shadow: 0 2px 8px 0 rgb(0, 0, 0 / 8%);
}
.sticky-nav.show {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform .4s ease-in-out,left .2s ease,right .2s ease;
    -moz-transition: -moz-transform .4s ease-in-out,left .2s ease,right .2s ease;
    transition: transform .4s ease-in-out,left .2s ease,right .2s ease;
}
.sticky-nav img {
    max-height: 50px;
}
.sticky-nav-menu {
    display: inline-grid;
    align-items: center;
}
.sticky-nav-menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 0;
}
.sticky-nav-menu li {
    position:relative;
}
.sticky-nav-menu li a, .nav-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--dalek);
    font-weight:bold;
}
.sticky-nav-menu li:hover a, .nav-menu li:hover a, .sticky-nav-menu li.active a, .nav-menu li.active a {
    color: var(--tan);
}
.sticky-nav-menu li:hover a:before, .nav-menu li:hover a:before, .sticky-nav-menu li.active a:before, .nav-menu li.active a:before {
    content: '';
    position: absolute;
    left: 35%;
    bottom: 18px;
    background-size: 22px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 22px;
    height: 24px;
    background-image: url('../images/wolf.png');
}

/********** Figure with figcaption on Hover **********/
figure {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
figure:hover figcaption {
    display: block;
}
figcaption {
    line-height: normal;
    position: absolute;
    bottom: 14px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white !important;
    padding: 10px;
    display: none;
}
figcaption a {
    color: var(--tan);
}


/********** HERO SECTION **********/
.hero-section {
    position:relative;
}
.hero-section h1 {
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: -1.5px -1.5px 0 #161c21, 1.5px -1.5px 0 #161c21, -1.5px 1.5px 0 #161c21, 1.5px 1.5px 0 #161c21;
}
.nav-menu {
    display:grid;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    opacity: 0;
    transition-property: all;
    transition-duration: 300ms;
    place-content:center;
}
.nav--active .nav-menu {
    background: var(--navy);
    color: #fff;
    opacity: 1;
    transition: all 300ms ease-in-out;
    transform: translateX(0);
}
.nav-menu ul {
    list-style: none;
    padding-left: 0;
}
.nav-menu ul li {
    padding:1rem 0;
}
.nav-menu li a {
    position:relative;
}
.nav-btn {
    background: var(--navy) url('../images/icons/pillar-button.svg') no-repeat center / 50%;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    position: absolute;
    right: 5%;
    top: 5%;
    transform-origin: center;
    transition: .3s;
    cursor: pointer;
}
.nav--active .nav-btn {
    background: var(--navy) url('../images/icons/xmark.svg') no-repeat center / 50% !important;
    z-index: 101;
}
.hero {
    background-image: url('../images/hero-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display: grid;
    place-content: center;
}

/********** Home - Intro section **********/
.intro img {
    max-height: 70vh;
    width: 100%;
}

/********** Home - Box Nav ***********/
.box-nav {
    position: relative;
}
.box-nav .grid{
    grid-template-columns: repeat(3, 1fr);
}
.box {
    position: relative;
    color: #fff;
    text-align: center;
    display: inline-grid;
    place-content: center;
}
.box:before {
    content: "";
    position: absolute;
    border: 3px solid var(--tan);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 85%;
    height: 85%;
    margin: auto;
    z-index: 2;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.box a {
    -webkit-box-shadow: 2px 2px 2px -1px rgb(153 153 153 / 20%);
    box-shadow: 2px 2px 2px -1px rgb(153 153 153 / 20%);
}
.box-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    padding: 2rem 1rem;
    z-index: 10;
    display: inline-grid;
    place-content: center;
    color: #fff;
}
.box-title h2 {
    padding-bottom:0;
}
.box:hover::before {
    opacity: 0;
    z-index: 1;
}
.box:hover a::after {
    content: "";
    position: absolute;
    background-color: var(--tan);
    bottom: 0;
    left: 8px;
    right: 8px;
    height: 12px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 0;
    bottom: -10px;
}
.box:hover .box-title {
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;

}

/********** Home - Discovery **********/
.discovery img {
    width:100%;
}

/********** Home - Architecture **********/
.architecture img {
    max-height:450px;
}

.discovery h2, .significance h2, .purpose h2 {
    padding-bottom:3rem;
}
.view-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    animation: bounce 1s infinite alternate;
  }
  
  @keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(5px); }
  }
  
  .view-more p {
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: -1.5px -1.5px 0 #161c21, 1.5px -1.5px 0 #161c21, -1.5px 1.5px 0 #161c21, 1.5px 1.5px 0 #161c21;
  }
  
  .view-more a {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid #161C21;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }
  
  .view-more a:hover {
    box-shadow: 0 0 0 4px #161C21, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  }
  
  .view-more img {
    position: absolute;
    top: 12px;
    left: 12px;
    max-width: 30px;
    max-height: 35px;
    transform: rotate(-45deg);
  }
  
  .view-more a:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    height: 54px;
    width: 54px;
    border-top: none;
    border-left: none;
    transform: rotate(-45deg);
  }
  
/********** ABOUT **********/
.pillars figure {
    display:block;
}
#Brochures h3 {
    margin-bottom:2rem;
}
#Brochures .flex {
    gap:4rem;
}
/* Sourced the below list-style-image from: https://medium.com/iconfinder/how-to-add-custom-icons-to-list-items-using-css-and-base64-af43c1b425ef */
ul {
    list-style-image:url('../images/icons/pillar.svg');
}

/********** TIMELINE **********/
/***** Timeline inspiration from - Source Code:https://codepen.io/codyhouse/pen/OJgRvj *****/ 
.timeline-title {
    border-bottom: 5px solid var(--tan);
    margin-bottom: 2rem;
}
#timeline {
    position: relative;
    margin: 0px auto;
    padding: 0;
    overflow: hidden;
}
#timeline::before {
    margin-left: -2px;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 5px;
    background: var(--navy);
}
.timeline-block {
    position: relative;
    margin: 2em 0;
}

/*********** Timeline Icon **********/
.timeline-icon {
    position: absolute;
    top: 35%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: grid;
    place-content: center;
    z-index: 99;
}
.timeline-block:nth-child(odd) .timeline-icon {
    left:0;
    margin-left: -6%;
}
.timeline-block:nth-child(even) .timeline-icon {
    right:0;
    margin-right: -6%;
}
.timeline-block.navy-box .timeline-icon {
    box-shadow: 0 0 0 4px var(--navy), inset 0 2px 0 rgb(0 0 0 / 8%), 0 3px 0 4px rgb(0 0 0 / 5%);
}
.timeline-block.tan-box .timeline-icon {
    box-shadow: 0 0 0 4px var(--tan), inset 0 2px 0 rgb(0 0 0 / 8%), 0 3px 0 4px rgb(0 0 0 / 5%);
}
.timeline-icon img {
    max-width: 30px !important;
    max-height: 35px;
}

/********** Timeline Content **********/
.timeline-block .timeline-content {
    padding:3rem;
}
.timeline-content h3 {
    text-align:center;
}
.timeline-block.navy-box .timeline-content {
    background-color: var(--navy);
    color: #fff;
}
.timeline-block.tan-box .timeline-content {
    background-color: var(--tan);
    color: var(--navy)
}

/********** Timeline Animation **********/
.timeline-icon.is-hidden, .timeline-content.is-hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.timeline-icon.bounce-in, .timeline-content.bounce-in {
    animation-name: bounce-in;
    animation-duration: 1s;
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: translateY(-500px);
    }
    60% {
        opacity: 1;
        transform: translateY(30px);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/********** CONTACT **********/
.form label {
    display:none;
}
.form input, .form textarea {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: var(--navy);
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--tan);
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-transition: order-color .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
    margin: 6px 0 0;
    padding: 16px 0;
    margin-bottom: 1.5rem;
}
.form textarea { 
    height: 192px;
    padding: 18px 25px;
    background-color: #f6f6f6;
    border: 0;
    font-size: 16px;
}
button.submit {
    width: 100%;
    background-color: var(--navy);
    padding-bottom: 40px;
    padding-top: 10px;
    border: none;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    line-height: 2em;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
    font-weight: 700;
    transition: 500ms,background-position 0s;
}
button.submit:hover {
    border: 3px solid var(--navy);
}

/********** FOOTER **********/
.site-footer a {
    color: #fff;
    text-decoration: none;
}
.site-footer a:hover {
    color: var(--tan);
}
.site-footer .footer-main {
    background-color: var(--navy);
    padding: 5rem 0;
}
.footer-main .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.footer-main .grid .col {
    display:inline-grid;
    padding: 0 15px;
    overflow: visible;
    grid-gap: 2rem;
}
.footer-main .grid .col.footer-button {
    margin: 0 auto;
}
.footer-main .logo {
    margin-bottom: 2rem;
    display: inline-block;
}
.footer-main .footer-nav-menu {
    place-content: center;
}
.footer-main ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-main ul li {
    margin: 0;
    padding: 0 0 13px;
}
.footer-main ul li a {
    display: block;
    text-transform: uppercase;
}

/********** Footer Socials **********/
.footer-main .social-facebook:hover img {
    content: url('../images/icons/facebook-tan.svg');
}
.footer-main .social-instagram:hover img {
    content: url('../images/icons/instagram-tan.svg');
}
.footer-main .social-twitter:hover img {
    content: url('../images/icons/twitter-tan.svg');
}
.footer-main .social-youtube:hover img {
    content: url('../images/icons/youtube-tan.svg');
}
.footer-main .social-pinterest:hover img {
    content: url('../images/icons/pinterest-tan.svg');
}
.footer-main .social-tripadvisor:hover img {
    content: url('../images/icons/tripadvisor-tan.svg');
}
.footer-main .social-icons {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-evenly;
    align-items: start
}
.footer-main .social-icons a {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    margin: 0 2.5px;
}
.footer-main .social-icons a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: auto;
    max-width: 40px;
}

/********** Footer - company info **********/
.footer-main .company-info .email, .footer-main .company-info .phone-number, .footer-main .company-info .address {
    padding-left: 3rem !important;
    position: relative;
}
.footer-main .company-info .email:before, .footer-main .company-info .phone-number:before, .footer-main .company-info .address:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-size: 25px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 26px;
    height: 35px;
}
.footer-main .company-info .email:before {
    background-image: url('../images/icons/email.svg');
}
.footer-main .company-info .phone-number:before {
    background-image: url('../images/icons/phone.svg');
}
.footer-main .company-info .address:before {
    background-image: url('../images/icons/location.svg');
}
.footer-main .company-info .email:hover::before {
    background-image: url('../images/icons/email-tan.svg');
}
.footer-main .company-info .phone-number:hover::before {
    background-image: url('../images/icons/phone-tan.svg');
}
.footer-main .company-info .address:hover::before {
    background-image: url('../images/icons/location-tan.svg');
}

/********** SUB-FOOTER **********/
.footer-sub {
    background-color:var(--tan);
    color: var(--navy);
    font-size: 80%;
    text-align:center;
    font-weight: 500;
}

/********************* MEDIA QUERIES *********************/ 
/* Max-Widths */
@media (max-width:550px){
    #site-logo img {padding: 1rem;}
    .nav-btn {
        width: 45px;
        height: 45px;
    }
    .nav-menu {display:block;}
    .nav-menu ul {margin: 2rem 0 0 1rem;}

    .footer-main ul {padding: 13px 0 0;}

    .timeline-block {
        width: 90% !important;
    }
}

@media (max-width: 768px){
    main {
        margin: 2rem auto;
    }
    .padding-both {
        padding: 3rem 0;
    }
    .margin-both {
        margin: 3rem 0;
    }
    p {
        padding-bottom: 3rem;
    }
    .sticky-nav {
        display: none;
    }
    .grid {
        grid-template-columns: auto !important;
    }
    .discovery h2, .significance h2, .architecture h2, .purpose h2 {
        text-align:center;
        padding-bottom:2rem;
    }
    #timeline::before {
        left: 5%;
    }
    .timeline-block {
        margin: 2em auto;
        width: 93%;
        margin-right: 0;
    }
    .timeline-icon {
        left: 0 !important;
        margin-left: -24px !important;
    }
    .timeline-block .timeline-content {
        padding: 2rem;
    }
    .location .address {
        order: 2;
        display: inline-grid;
    }
}

@media(max-width:1024px){
    h2 {
        font-size:35px;
    }
    .sticky-nav-menu ul {
        gap: 1rem;
    }
    .footer-main .grid {grid-template-columns: 1fr 1fr;}
    .footer-main .grid .col {    
        align-content: center;
        justify-content: center;
    }
}
/* Min-Width */
@media (min-width: 768px){
    main {margin: 5rem auto;}
    .padding-both {
        padding: 5rem 0;
    }
    .margin-both {
        margin: 5rem 0;
    }
    .intro p {
        padding: 0 2rem 2rem;
    }
    .timeline-block:nth-child(even) {
        float: left;
        clear: both;
        padding: 0px 21px 0px 0px;
    }
    .timeline-block {
        background-image: none;
        width: 50%;
        margin-bottom: 21px;
        float: right;
        clear: both;
        padding: 0px 0px 0px 21px;
    }
    .timeline-icon {
        width: 70px;
        height: 70px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .timeline-icon img {
        max-width: 40px !important;
        max-height: 45px;
    }
}

@media(min-width:1024px){
    .footer-main .grid .col.footer-button {display:block;}
}