/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

/* @IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"');
       
@font-face {
    font-family: 'dalekregular';
    src: url('/assets/css/fonts/dalek.eot'); /* IE9 Compat Modes */
    src: url('/assets/css/fonts/dalek.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/css/fonts/dalek.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/css/fonts/dalek.woff') format('woff'), /* Pretty Modern Browsers */
        url('/assets/css/fonts/dalek.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('/assets/css/fonts/dalek.svg#dalek') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

:root {
    --brown:#67442F;
    --navy:#161C21;
    --tan: #d6b68e;
    --inknut: 'Inknut Antiqua', Arial;
    --dalek: 'dalekregular', serif;
}
    
::selection {background:#161C21;color:#fff;}

body {
    font-family: var(--inknut);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--dalek);
}

.grid {
    display: grid;
    grid-gap: 4rem;
    box-sizing: border-box;
    align-content: stretch;
    justify-content: center;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}
.site-header {
    background-color: var(--navy);
}
.site-header .grid {
    grid-template-columns: 1fr 2fr;
}
.sticky-nav {
    position: fixed;
    background-color: rgb(22, 28, 33, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform .6s ease;
    -moz-transition: -moz-transform .6s ease;
    transition: transform .6s ease;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 8%);
}
.sticky-nav.show {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform .4s ease-in-out,left .2s ease,right .2s ease;
    -moz-transition: -moz-transform .4s ease-in-out,left .2s ease,right .2s ease;
    transition: transform .4s ease-in-out,left .2s ease,right .2s ease;
}
.sticky-nav img {
    max-height: 50px;
}
.sticky-nav-menu {
    display: inline-grid;
    align-items: center;
}
.sticky-nav-menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 0;
}
.sticky-nav-menu li {
    position:relative;
}
.sticky-nav-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--inknut);
}
.sticky-nav-menu li:hover a {
    color: var(--tan);
}
.sticky-nav-menu li:hover a:before {
    content: '';
    position: absolute;
    left: 35%;
    bottom: 15px;
    background-size: 22px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 22px;
    height: 24px;
    background-image: url(../images/wolf.png);
}
.hero-section {position:relative;}
.hero {
    background-image: url('../images/hero-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display: grid;
    place-content: center;
}
.nav-menu {
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    opacity: 0;
    transition-property: all;
    transition-duration: 300ms;
}
.nav--active .nav-menu {
    background: var(--navy);
    color: #fff;
    opacity: 1;
    transition: all 300ms ease-in-out;
    transform: translateX(0);
}
.nav-btn {
    background: var(--navy) url('../images/pillar-button.svg') no-repeat center / 50%;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    position: absolute;
    right: 50px;
    top: 15px;
    transform-origin: center;
    transition: .3s;
    cursor: pointer;
}
.nav--active .nav-btn {
    background: var(--navy) url('../images/xmark.svg') no-repeat center / 50% !important;
    z-index: 101;
}